.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: #ffffff;
  width: 1512px;
  height: 3315px;
  position: relative;
  overflow: hidden;
}
.footer {
  width: 1512px;
  height: 279px;
  position: absolute;
  left: 0px;
  top: 3034px;
  overflow: hidden;
}
.footer2 {
  position: absolute;
  inset: 0;
}
.rectangle-299 {
  background: #d4d4d4;
  width: 1535.98px;
  height: 369px;
  position: absolute;
  left: -12px;
  top: 0px;
}
.copyright {
  position: absolute;
  left: -280px;
  top: 300.68px;
  overflow: visible;
}
.utility-pages {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 307.71px;
  height: 176.72px;
  position: absolute;
  left: 1148.43px;
  top: 42px;
}
.utility-pages2 {
  color: #274c5b;
  text-align: left;
  font: 700 15px "Roboto", sans-serif;
  position: relative;
}
.style-guide-404-not-found-password-protected-licences-changelog {
  color: #525c60;
  text-align: left;
  font: 400 12px/272.9% "Open Sans", sans-serif;
  position: relative;
  width: 285px;
}
.line2 {
  border-style: solid;
  border-color: #d4d4d4;
  border-width: 1px 0 0 0;
  width: 195.32px;
  height: 0px;
  position: absolute;
  left: 1094.44px;
  top: 238.48px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.about {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: center;
  justify-content: flex-start;
  width: 586.27px;
  height: 142.42px;
  position: absolute;
  left: 462.83px;
  top: 42px;
}
.logo {
  flex-shrink: 0;
  width: 200px;
  height: 40px;
  position: static;
}
.socgigs-logo-2 {
  width: 200px;
  height: 40px;
  position: absolute;
  left: 193.14px;
  top: 0px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 49px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 543px;
  position: relative;
}
.event-publisher {
  color: #525c60;
  text-align: center;
  font: 400 15px/165.4% "Open Sans", sans-serif;
  position: relative;
  width: 543px;
}
.follow {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 285px;
  position: relative;
}
._1 {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: static;
}
.ellipse {
  background: #eff6f1;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.insta {
  position: absolute;
  left: 20px;
  top: 21px;
  overflow: visible;
}
._2 {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: static;
}
.ellipse2 {
  background: #eff6f1;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 75px;
  top: 0px;
}
.fb {
  position: absolute;
  left: 95px;
  top: 21px;
  overflow: visible;
}
._3 {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: static;
}
.ellipse3 {
  background: #eff6f1;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 150px;
  top: 0px;
}
.twiter {
  position: absolute;
  left: 170px;
  top: 22px;
  overflow: visible;
}
._4 {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: static;
}
.ellipse4 {
  background: #eff6f1;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 225px;
  top: 0px;
}
.pintrest {
  position: absolute;
  left: 245px;
  top: 20px;
  overflow: visible;
}
.contact-us {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 307.71px;
  height: 178.46px;
  position: absolute;
  left: 55.78px;
  top: 42px;
}
.contact-us2 {
  color: #274c5b;
  text-align: left;
  font: 700 15px "Roboto", sans-serif;
  position: relative;
}
.line3 {
  border-style: solid;
  border-color: #274c5b;
  border-width: 1px 0 0 0;
  width: 201px;
  height: 0px;
  position: absolute;
  left: 426px;
  top: 253px;
  transform-origin: 0 0;
  transform: rotate(-90.285deg) scale(1, 1);
}
.line4 {
  border-style: solid;
  border-color: #274c5b;
  border-width: 1px 0 0 0;
  width: 201px;
  height: 0px;
  position: absolute;
  left: 1088px;
  top: 252px;
  transform-origin: 0 0;
  transform: rotate(-90.285deg) scale(1, 1);
}
.main {
  width: 1512px;
  height: 2426px;
  position: absolute;
  left: 0px;
  top: 608px;
  overflow: hidden;
}
.grid {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 70px;
}
.frame {
  flex-shrink: 0;
  width: 1512px;
  height: 535px;
  position: relative;
  overflow: hidden;
}
.image {
  position: absolute;
  inset: 0;
}
.rectangle-298 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
  width: 350px;
  height: 425px;
  position: absolute;
  left: 1062px;
  top: 60px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.now-playing-festival {
  color: #000000;
  text-align: left;
  font: 800 20px "Roboto", sans-serif;
  position: absolute;
  left: 1087px;
  top: 367.89px;
  width: 293px;
  height: 21.72px;
}
.rp-300-000-600-000 {
  color: #efd372;
  text-align: right;
  font: 800 25px "Roboto", sans-serif;
  position: absolute;
  left: 1106px;
  top: 430px;
  width: 295px;
  height: 28px;
}
.jl-brigadir-katamso-bandung {
  color: #525c60;
  text-align: left;
  font: 400 15px/165.4% "Open Sans", sans-serif;
  position: absolute;
  left: 1087px;
  top: 395.28px;
  width: 270px;
  height: 23.61px;
}
.background {
  background: #edf2f6;
  border-radius: 30px;
  width: 300px;
  height: 283.33px;
  position: absolute;
  left: 1087px;
  top: 77.94px;
}
.rounded-rectangle {
  background: #ebf0f4;
  border-radius: 30px;
  width: 300px;
  height: 283.33px;
  position: absolute;
  left: 1087px;
  top: 77.94px;
}
.npf {
  width: 300px;
  height: 283.33px;
  position: absolute;
  left: 1087px;
  top: 77.94px;
}
.tag {
  background: #274c5b;
  border-radius: 8px;
  padding: 5px 12px 6px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1284px;
  top: 87px;
}
._3-12-mar {
  color: #ffffff;
  text-align: center;
  font: 600 15px "Open Sans", sans-serif;
  position: relative;
}
.rectangle-2982 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
  width: 350px;
  height: 425px;
  position: absolute;
  left: 100px;
  top: 60px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.senang-senang-fest {
  color: #000000;
  text-align: left;
  font: 800 20px "Roboto", sans-serif;
  position: absolute;
  left: 125px;
  top: 367.89px;
  width: 286px;
  height: 21.72px;
}
.rp-100-000 {
  color: #efd372;
  text-align: left;
  font: 800 25px "Roboto", sans-serif;
  position: absolute;
  left: 264px;
  top: 430.22px;
  width: 167px;
  height: 27.39px;
}
.de-tjolomadoe-solo {
  color: #525c60;
  text-align: left;
  font: 400 15px/165.4% "Open Sans", sans-serif;
  position: absolute;
  left: 125px;
  top: 395.28px;
  width: 270px;
  height: 23.61px;
}
.background2 {
  background: #edf2f6;
  border-radius: 30px;
  width: 300px;
  height: 283.33px;
  position: absolute;
  left: 125px;
  top: 77.94px;
}
.rounded-rectangle2 {
  background: #ebf0f4;
  border-radius: 30px;
  width: 300px;
  height: 283.33px;
  position: absolute;
  left: 125px;
  top: 77.94px;
}
.senang-senang-fest2 {
  width: 300px;
  height: 283.33px;
  position: absolute;
  left: 125px;
  top: 78px;
}
.tag2 {
  background: #274c5b;
  border-radius: 8px;
  padding: 5px 12px 6px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 341px;
  top: 87px;
}
._23-jun {
  color: #ffffff;
  text-align: center;
  font: 600 15px "Open Sans", sans-serif;
  position: relative;
}
.rectangle-2983 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px;
  width: 350px;
  height: 425px;
  position: absolute;
  left: 581px;
  top: 60px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.lokananta-festival {
  color: #000000;
  text-align: left;
  font: 800 20px "Roboto", sans-serif;
  position: absolute;
  left: 606px;
  top: 367.89px;
  width: 265px;
  height: 21.72px;
}
.rp-250-000 {
  color: #efd372;
  text-align: left;
  font: 800 25px "Roboto", sans-serif;
  position: absolute;
  left: 749px;
  top: 430.22px;
  width: 165px;
  height: 27.39px;
}
.lokananta-records-solo {
  color: #525c60;
  text-align: left;
  font: 400 15px/165.4% "Open Sans", sans-serif;
  position: absolute;
  left: 606px;
  top: 395.28px;
  width: 270px;
  height: 23.61px;
}
.background3 {
  background: #edf2f6;
  border-radius: 30px;
  width: 300px;
  height: 283.33px;
  position: absolute;
  left: 606px;
  top: 77.94px;
}
.rounded-rectangle3 {
  background: #ebf0f4;
  border-radius: 30px;
  width: 300px;
  height: 283.33px;
  position: absolute;
  left: 606px;
  top: 77.94px;
}
.lokananta {
  width: 300px;
  height: 283.33px;
  position: absolute;
  left: 606px;
  top: 77.94px;
}
.tag3 {
  background: #274c5b;
  border-radius: 8px;
  padding: 5px 12px 6px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 818px;
  top: 87px;
}
._3-4-jun {
  color: #ffffff;
  text-align: center;
  font: 600 15px "Open Sans", sans-serif;
  position: relative;
}
.frame2 {
  flex-shrink: 0;
  width: 1512px;
  height: 525px;
  position: relative;
  overflow: hidden;
}
.atefac-uns {
  color: #000000;
  text-align: left;
  font: 800 20px "Roboto", sans-serif;
  position: absolute;
  left: 125px;
  top: 367.89px;
  width: 150px;
  height: 21.72px;
}
.rp-130-000 {
  color: #efd372;
  text-align: left;
  font: 800 25px "Roboto", sans-serif;
  position: absolute;
  left: 270px;
  top: 430.22px;
  width: 157px;
  height: 27.39px;
}
.artefac {
  width: 300px;
  height: 283.33px;
  position: absolute;
  left: 125px;
  top: 77.94px;
}
.tag4 {
  background: #274c5b;
  border-radius: 8px;
  padding: 5px 12px 6px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 336px;
  top: 91px;
}
._18-mar {
  color: #ffffff;
  text-align: center;
  font: 600 15px "Open Sans", sans-serif;
  position: relative;
}
.sound-of-downton {
  color: #000000;
  text-align: left;
  font: 800 20px "Roboto", sans-serif;
  position: absolute;
  left: 606px;
  top: 367.89px;
  width: 250px;
  height: 21.72px;
}
.lap-prpp-semarang {
  color: #525c60;
  text-align: left;
  font: 400 15px/165.4% "Open Sans", sans-serif;
  position: absolute;
  left: 606px;
  top: 395.28px;
  width: 270px;
  height: 23.61px;
}
.sod {
  width: 300px;
  height: 283.33px;
  position: absolute;
  left: 606px;
  top: 77.94px;
}
.tag5 {
  background: #274c5b;
  border-radius: 8px;
  padding: 5px 12px 6px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 800px;
  top: 91px;
}
._18-19-feb {
  color: #ffffff;
  text-align: center;
  font: 600 15px "Open Sans", sans-serif;
  position: relative;
}
.we-are-yours-festival {
  color: #000000;
  text-align: left;
  font: 800 20px "Roboto", sans-serif;
  position: absolute;
  left: 1087px;
  top: 367.89px;
  width: 290px;
  height: 21.72px;
}
.rp-150-000 {
  color: #efd372;
  text-align: left;
  font: 800 25px "Roboto", sans-serif;
  position: absolute;
  left: 1227px;
  top: 430.22px;
  width: 160px;
  height: 27.39px;
}
.sam-poo-kong-semarang {
  color: #525c60;
  text-align: left;
  font: 400 15px/165.4% "Open Sans", sans-serif;
  position: absolute;
  left: 1087px;
  top: 395.28px;
  width: 270px;
  height: 23.61px;
}
.weareyours {
  width: 300px;
  height: 283.33px;
  position: absolute;
  left: 1087px;
  top: 77.94px;
}
.tag6 {
  background: #274c5b;
  border-radius: 8px;
  padding: 5px 12px 6px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1304px;
  top: 91px;
}
._18-feb {
  color: #ffffff;
  text-align: center;
  font: 600 15px "Open Sans", sans-serif;
  position: relative;
}
.unfest-2023 {
  color: #000000;
  text-align: left;
  font: 800 20px "Roboto", sans-serif;
  position: absolute;
  left: 125px;
  top: 367.89px;
  width: 160px;
  height: 21.72px;
}
.rp-125-000 {
  color: #efd372;
  text-align: left;
  font: 800 25px "Roboto", sans-serif;
  position: absolute;
  left: 266px;
  top: 430.22px;
  width: 160px;
  height: 27.39px;
}
.stadion-diponegoro-semarang {
  color: #525c60;
  text-align: left;
  font: 400 15px/165.4% "Open Sans", sans-serif;
  position: absolute;
  left: 125px;
  top: 395.28px;
  width: 270px;
  height: 23.61px;
}
.unfest {
  width: 300px;
  height: 283.33px;
  position: absolute;
  left: 125px;
  top: 77.94px;
}
.tag7 {
  background: #274c5b;
  border-radius: 8px;
  padding: 5px 12px 6px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 342px;
  top: 94px;
}
._12-mar {
  color: #ffffff;
  text-align: center;
  font: 600 15px "Open Sans", sans-serif;
  position: relative;
}
.streo-2023 {
  color: #000000;
  text-align: left;
  font: 800 20px "Roboto", sans-serif;
  position: absolute;
  left: 606px;
  top: 367.89px;
  width: 216px;
  height: 21.72px;
}
.rp-50-000 {
  color: #efd372;
  text-align: left;
  font: 800 25px "Roboto", sans-serif;
  position: absolute;
  left: 773px;
  top: 430.22px;
  width: 147px;
  height: 27.39px;
}
.alpha-bravo-yogyakarta {
  color: #525c60;
  text-align: left;
  font: 400 15px/165.4% "Open Sans", sans-serif;
  position: absolute;
  left: 606px;
  top: 395.28px;
  width: 270px;
  height: 23.61px;
}
.crast {
  width: 300px;
  height: 283.33px;
  position: absolute;
  left: 606px;
  top: 77.94px;
}
.tag8 {
  background: #274c5b;
  border-radius: 8px;
  padding: 5px 12px 6px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 832px;
  top: 94px;
}
._4-mar {
  color: #ffffff;
  text-align: center;
  font: 600 15px "Open Sans", sans-serif;
  position: relative;
}
.vocanight {
  color: #000000;
  text-align: left;
  font: 800 20px "Roboto", sans-serif;
  position: absolute;
  left: 1087px;
  top: 367.89px;
  width: 114px;
  height: 21.72px;
}
.lap-prpp-semarang2 {
  color: #525c60;
  text-align: left;
  font: 400 15px/165.4% "Open Sans", sans-serif;
  position: absolute;
  left: 1087px;
  top: 395.28px;
  width: 270px;
  height: 23.61px;
}
.voca {
  width: 300px;
  height: 283.33px;
  position: absolute;
  left: 1087px;
  top: 77.94px;
}
.tag9 {
  background: #274c5b;
  border-radius: 8px;
  padding: 5px 12px 6px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1299px;
  top: 94px;
}
._19-mar {
  color: #ffffff;
  text-align: center;
  font: 600 15px "Open Sans", sans-serif;
  position: relative;
}
.bona-fide-project {
  color: #000000;
  text-align: left;
  font: 800 20px "Roboto", sans-serif;
  position: absolute;
  left: 125px;
  top: 368px;
  width: 222px;
  height: 22px;
}
.gor-uny-yogyakarta {
  color: #525c60;
  text-align: left;
  font: 400 15px/165.4% "Open Sans", sans-serif;
  position: absolute;
  left: 125px;
  top: 395.28px;
  width: 270px;
  height: 23.61px;
}
.poster-full-4-x-4-1 {
  width: 300px;
  height: 335px;
  position: absolute;
  left: 125px;
  top: 78px;
}
.tag10 {
  background: #274c5b;
  border-radius: 8px;
  padding: 5px 12px 6px 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 335px;
  top: 94px;
}
._22-des {
  color: #ffffff;
  text-align: center;
  font: 600 15px "Open Sans", sans-serif;
  position: relative;
}
.find-your-favorite-event-and-lets-have-fun {
  color: #525c60;
  text-align: left;
  font: 400 15px/165.4% "Open Sans", sans-serif;
  position: absolute;
  left: 100px;
  top: 62px;
  width: 543px;
}
.popular-event {
  color: #274c5b;
  text-align: left;
  font: 800 30px "Roboto", sans-serif;
  position: absolute;
  left: 100px;
  top: 27px;
}
.foto {
  width: 1301px;
  height: 363px;
  position: absolute;
  left: 63px;
  top: 158px;
}
.soegi-home {
  width: 585px;
  height: 363px;
  position: absolute;
  left: 604px;
  top: 0px;
}
.audiance-home {
  width: 585px;
  height: 363px;
  position: absolute;
  left: 1208px;
  top: 2px;
}
.pamungkas-home {
  width: 585px;
  height: 363px;
  position: absolute;
  left: 1812px;
  top: 0px;
}
.kunto-home {
  width: 585px;
  height: 363px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.search-region {
  background: #fafafa;
  border-radius: 36px;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 60px;
  position: absolute;
  left: 1048px;
  top: 41px;
}
.region {
  color: #ababab;
  text-align: left;
  font: 400 italic 15px "Roboto", sans-serif;
  position: relative;
}
.search-icon {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.header {
  background: rgba(255, 255, 255, 0.9);
  padding: 69px 162px 69px 162px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 933px;
  height: 179px;
  position: absolute;
  left: 63px;
  top: -43px;
}
.header2 {
  display: flex;
  flex-direction: row;
  gap: 130px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1029px;
  height: 84px;
  position: relative;
}
._12 {
  padding: 0px 82px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 95px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1029px;
  position: relative;
}
.socgigs {
  flex-shrink: 0;
  width: 250px;
  height: 83.65px;
  position: relative;
}
.menu {
  flex-shrink: 0;
  width: 44px;
  height: 18px;
  position: static;
}
.home2 {
  color: #274c5b;
  text-align: left;
  font: 700 15px "Roboto", sans-serif;
  position: absolute;
  left: 345px;
  top: 32.83px;
  width: 44px;
}
.menu2 {
  flex-shrink: 0;
  width: 52px;
  height: 18px;
  position: static;
}
.about2 {
  color: #274c5b;
  text-align: left;
  font: 700 15px "Roboto", sans-serif;
  position: absolute;
  left: 484px;
  top: 32.83px;
  width: 52px;
}
.menu3 {
  flex-shrink: 0;
  width: 143px;
  height: 18px;
  position: static;
}
.partner-with-us {
  color: #274c5b;
  text-align: left;
  font: 700 15px "Roboto", sans-serif;
  position: absolute;
  left: 631px;
  top: 32.83px;
  width: 143px;
}
